*, *:before, *:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: $chat-blue;
    font-size: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: $font;

    h2{
        padding-bottom: 1.5rem;
    }

    p{
        padding-bottom: 1rem;
    }

    .btn{
        padding: 0.5em 1em;
        background: $accent;
        color: white;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        box-shadow: none;
        border: 0;

        &-alt{
            text-decoration: underline;
            color: $accent;
            cursor: pointer;
            background-color: transparent;
            border: 0;
            font-family: inherit;
            font-size: inherit;
        }

        &-group{
            display: flex;
            margin: 1em;

            > *:not(:last-child) {
                margin-right: 1em;
            }
        }

        * {
            z-index: 3;
            position: relative;
        }

        &:after{
            content: '';
            background: $accent-secondary;
            width: 0;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            transition: width 0.2s ease-out;
            box-shadow: inset 0 0 20px 3px rgba(0,0,0,0.1);
            z-index: 1;
        }

        &:hover:after{
            width: 100%;
        }
    }

    input{
        background: $grey;
        border: 1px solid transparent;
        padding: 1em;
        transition: 0.3s ease-out;
        font-family: 'Inconsolata', monospace;

        &:focus{
          outline: none;
          border: 1px solid $accent;
        }
    }
}

.hidden, [v-cloak]{
    display: none !important;
}