@import "_variables.scss";
@import "_general.scss";
@import "_layout.scss";
@import "elems/_modal.scss";
@import "elems/_sidebar.scss";
@import "elems/_chatroom.scss";
@import "elems/_footer.scss";

.error {
    padding: 0.3em 1em;
    background: #f497b3;
    color: #9b0c37;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.5em;
}