.modal{
    background: white;
    width: 60%;
    min-width: 400px;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    left: 20%;
    top: 20%;
    padding: 3em;
    box-shadow: 2px 8px 20px 5px rgba(0,0,0,0.3);

    &__flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .profile-image {
            cursor: pointer;
            width: 12%;
            height: 12%;
            min-width: 50px;
            min-height: 50px;
            transition: 0.2s ease-out;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .btn-group {
        justify-content: center;
    }
}

